<div id="<%= dom_id rsocial %>" style="background-color: <%= rsocial.color %>">
  <p>
    <strong>Title:</strong>
    <%= rsocial.title %>
  </p>

  <!--
  <p>
    <strong>Color:</strong>
    <%= rsocial.color %>
  </p>
  -->

</div>
